<div class="authform">

<%= form_for(skill) do |f| %>
  <% if skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(skill.errors.count, "error") %> prohibited this skill from being saved:</h2>

      <ul>
      <% skill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title , class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :level %>
    <%= f.text_field :level , class: 'form-control'%>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-info' %>
  </div>
<% end %>
</div>