<div class="authform">

  <%= form_for wallet do |f| %>
    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_field :address , class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= f.label :amount %>
      <%= f.text_field :amount , class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password , class: 'form-control'%>
    </div>

    <div class="actions">
      <%= f.submit class: 'btn btn-info' %>
    </div>
  <% end %>

</div>