<div class="content">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">All Records</h5>
          <h2 class="card-title">Roles</h2>
        </div>
        <div class="card-body">
          <p id="notice"><%= notice %></p>
          <table>
            <thead>
              <tr>
                          <th>Name</th>
                          <th>Description</th>
                          <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
            <% if is_leader? %>
              <% @allRoles.each do |role| %>
                <tr>
                  <td><%= role.name %></td>
                  <td><%= role.description %></td>
                  <td><%= link_to 'Show', role %></td>
                  <td><%= link_to 'Edit', edit_role_path(role) %></td>
                  <td><%= link_to 'Destroy', role, method: :delete, data: {confirm: 'Are you sure?'} %></td>
                </tr>
              <% end %>
            <% else %>
              <% @roles.each do |role| %>
                <tr>
                  <td><%= role.name %></td>
                  <td><%= role.description %></td>
                  <td><%= link_to 'Show', role %></td>
                  <td><%= link_to 'Edit', edit_role_path(role) %></td>
                  <td><%= link_to 'Destroy', role, method: :delete, data: {confirm: 'Are you sure?'} %></td>
                </tr>
              <% end %>
            <% end %>

            </tbody>
          </table>

          <br>

          <%= link_to 'New Role', new_role_path %>
        </div>
      </div>
    </div>
  </div>
</div>