<% if user_signed_in? %>
  <li <% if current_page?(edit_user_registration_path) -%>class="active"<% end -%>>
    <%= link_to edit_user_registration_path do %>
      <i class="now-ui-icons ui-1_settings-gear-63"></i>
      <span class="sidebar-normal">Settings</span>
    <% end %>
  </li>
  <li
  <% if current_page?(wallets_path) -%>class="active"
  <% end -%>>
    <%= link_to wallets_path do %>
      <i class="now-ui-icons ui-1_settings-gear-63"></i>
      <span class="sidebar-normal">Wallet</span>
    <% end %>
  </li>
<% else %>
  <li <% if current_page?(new_user_session_path) -%>class="active"<% end -%>><%= link_to new_user_session_path do %>
      <i class="fa fa-sign-in-alt"></i>
      <span class="sidebar-normal">Login</span>
    <% end %>
  </li>
  <li <% if current_page?(new_user_registration_path) -%>class="active"<% end -%>><%= link_to new_user_registration_path do %>
      <i class="fa fa-user-plus"></i>
      <span class="sidebar-normal">Register</span>
    <% end %>
  </li>
<% end %>
<% if user_signed_in? %>
  <li <% if current_page?(users_path) -%>class="active"<% end -%>><%= link_to users_path do %>
      <i class="now-ui-icons users_single-02"></i>
      <span class="sidebar-normal">Users</span>
    <% end %>
  </li>
<% end %>
